/* ==========================================================================
   MASTHEAD
   ========================================================================== */
#showHideMenu{
    visibility: visible;
    position: fixed;
    right: 9px;
    border: none;
    z-index: 999;
    padding: 0.6em;
    box-shadow: none;
    color: #fff;
    background: green;

    @include breakpoint($large){
        visibility: hidden;
    }
}

.mobile-menu{
    position: fixed;
    display: block;
    float: right;
    list-style-type: none;
    box-shadow: 0 0 10px #e0dcdc;
    padding: 1em;
    z-index: 999;
    text-align: center;
    right: 0em;
    background: white;
    top: 1.4em;

    @include breakpoint($large){
        display: none;
    }

    li{
        border-bottom: 1px solid;

        a{
        text-decoration: none;
        font-family: 'Lato';
        }
    }
}

.masthead {
    background: #25931f;
    box-shadow: 0 0 3px 1px #627a6a;
    position: relative;
    border-bottom: 1px solid $border-color;
    -webkit-animation: intro 0.3s both;
          animation: intro 0.3s both;
    -webkit-animation-delay: 0.15s;
          animation-delay: 0.15s;
    z-index: 20;
    display: none;

    @include breakpoint($large) {
        background: transparent;
        box-shadow: none;
        display: block;
      }
  
  &__inner-wrap {
    @include container;
    @include clearfix;
    padding: 1em 1em 1em;
    font-family: $sans-serif-narrow;

    @include breakpoint($x-large) {
      max-width: $x-large;
    }

    nav {
      z-index: 10;
    }

    a {
      text-decoration: none;
    }
  }
}

.masthead__menu {

  ul {
    margin: 0 auto;
    padding: 0;
    clear: both;
    list-style-type: none;
  }
}

.masthead__menu-item {
  display: block;
  list-style-type: none;
  white-space: nowrap;

  &--lg {
    //padding-right: 2em;
    font-weight: 700;
  }
}